<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesApp.tMDBPerson.home.title">TMDB People</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tmdb-person" [routerLink]="['/tmdb-person/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mymoviesApp.tMDBPerson.home.createLabel">
            Create a new TMDB Person
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesApp.tMDBPerson.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="tMDBPeople?.length === 0">
        <span jhiTranslate="mymoviesApp.tMDBPerson.home.notFound">No tMDBPeople found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tMDBPeople && tMDBPeople.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mymoviesApp.tMDBPerson.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthday"><span jhiTranslate="mymoviesApp.tMDBPerson.birthday">Birthday</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deathday"><span jhiTranslate="mymoviesApp.tMDBPerson.deathday">Deathday</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="mymoviesApp.tMDBPerson.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aka"><span jhiTranslate="mymoviesApp.tMDBPerson.aka">Aka</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span jhiTranslate="mymoviesApp.tMDBPerson.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="biography"><span jhiTranslate="mymoviesApp.tMDBPerson.biography">Biography</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="placeOfBirth"><span jhiTranslate="mymoviesApp.tMDBPerson.placeOfBirth">Place Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="homepage"><span jhiTranslate="mymoviesApp.tMDBPerson.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tMDBPerson of tMDBPeople ;trackBy: trackId">
                    <td><a [routerLink]="['/tmdb-person', tMDBPerson.id, 'view']">{{ tMDBPerson.id }}</a></td>
                    <td>{{ tMDBPerson.tmdbId }}</td>
                    <td>{{ tMDBPerson.birthday | date:'mediumDate' }}</td>
                    <td>{{ tMDBPerson.deathday | date:'mediumDate' }}</td>
                    <td>{{ tMDBPerson.name }}</td>
                    <td>{{ tMDBPerson.aka }}</td>
                    <td>{{ tMDBPerson.gender }}</td>
                    <td>{{ tMDBPerson.biography }}</td>
                    <td>{{ tMDBPerson.placeOfBirth }}</td>
                    <td>{{ tMDBPerson.homepage }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tmdb-person', tMDBPerson.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tmdb-person', tMDBPerson.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tMDBPerson)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
