<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tMDBPerson">
            <h2><span jhiTranslate="mymoviesApp.tMDBPerson.detail.title">TMDB Person</span> {{ tMDBPerson.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.tmdbId" [ngbTooltip]="'mymoviesApp.tMDBPerson.help.tmdbId' | translate">Tmdb Id</span></dt>
                <dd>
                    <span>{{ tMDBPerson.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.birthday">Birthday</span></dt>
                <dd>
                    <span>{{ tMDBPerson.birthday }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.deathday">Deathday</span></dt>
                <dd>
                    <span>{{ tMDBPerson.deathday }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.name">Name</span></dt>
                <dd>
                    <span>{{ tMDBPerson.name }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.aka">Aka</span></dt>
                <dd>
                    <span>{{ tMDBPerson.aka }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.gender">Gender</span></dt>
                <dd>
                    <span>{{ tMDBPerson.gender }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.biography">Biography</span></dt>
                <dd>
                    <span>{{ tMDBPerson.biography }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.placeOfBirth">Place Of Birth</span></dt>
                <dd>
                    <span>{{ tMDBPerson.placeOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPerson.homepage">Homepage</span></dt>
                <dd>
                    <span>{{ tMDBPerson.homepage }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tmdb-person', tMDBPerson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
