<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tMDBGenre">
            <h2><span jhiTranslate="mymoviesApp.tMDBGenre.detail.title">TMDB Genre</span> {{ tMDBGenre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesApp.tMDBGenre.tmdbId" [ngbTooltip]="'mymoviesApp.tMDBGenre.help.tmdbId' | translate">Tmdb Id</span></dt>
                <dd>
                    <span>{{ tMDBGenre.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBGenre.name">Name</span></dt>
                <dd>
                    <span>{{ tMDBGenre.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tmdb-genre', tMDBGenre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
