<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesApp.tMDBPicture.home.title">TMDB Pictures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tmdb-picture" [routerLink]="['/tmdb-picture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mymoviesApp.tMDBPicture.home.createLabel">
            Create a new TMDB Picture
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesApp.tMDBPicture.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="tMDBPictures?.length === 0">
        <span jhiTranslate="mymoviesApp.tMDBPicture.home.notFound">No tMDBPictures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tMDBPictures && tMDBPictures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mymoviesApp.tMDBPicture.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="picture"><span jhiTranslate="mymoviesApp.tMDBPicture.picture">Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pictureSize"><span jhiTranslate="mymoviesApp.tMDBPicture.pictureSize">Picture Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tMDBPicture of tMDBPictures ;trackBy: trackId">
                    <td><a [routerLink]="['/tmdb-picture', tMDBPicture.id, 'view']">{{ tMDBPicture.id }}</a></td>
                    <td>{{ tMDBPicture.tmdbId }}</td>
                    <td>
                        <a *ngIf="tMDBPicture.picture" (click)="openFile(tMDBPicture.pictureContentType, tMDBPicture.picture)">
                            <img [src]="'data:' + tMDBPicture.pictureContentType + ';base64,' + tMDBPicture.picture" style="max-height: 30px;" alt="tMDBPicture image"/>
                        </a>
                        <span *ngIf="tMDBPicture.picture">{{ tMDBPicture.pictureContentType }}, {{ byteSize(tMDBPicture.picture) }}</span>
                    </td>
                    <td>{{ tMDBPicture.pictureSize }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tmdb-picture', tMDBPicture.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tmdb-picture', tMDBPicture.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tMDBPicture)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
