<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tMDBPicture">
            <h2><span jhiTranslate="mymoviesApp.tMDBPicture.detail.title">TMDB Picture</span> {{ tMDBPicture.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesApp.tMDBPicture.tmdbId">Tmdb Id</span></dt>
                <dd>
                    <span>{{ tMDBPicture.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPicture.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="tMDBPicture.picture">
                        <a (click)="openFile(tMDBPicture.pictureContentType, tMDBPicture.picture)">
                            <img [src]="'data:' + tMDBPicture.pictureContentType + ';base64,' + tMDBPicture.picture" style="max-width: 100%;" alt="tMDBPicture image"/>
                        </a>
                        {{ tMDBPicture.pictureContentType }}, {{ byteSize(tMDBPicture.picture) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBPicture.pictureSize">Picture Size</span></dt>
                <dd>
                    <span>{{ tMDBPicture.pictureSize }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tmdb-picture', tMDBPicture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
