<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tMDBCredit">
            <h2><span jhiTranslate="mymoviesApp.tMDBCredit.detail.title">TMDB Credit</span> {{ tMDBCredit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.tmdbId" [ngbTooltip]="'mymoviesApp.tMDBCredit.help.tmdbId' | translate">Tmdb Id</span></dt>
                <dd>
                    <span>{{ tMDBCredit.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.character">Character</span></dt>
                <dd>
                    <span>{{ tMDBCredit.character }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.creditType">Credit Type</span></dt>
                <dd>
                    <span>{{ tMDBCredit.creditType }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.department">Department</span></dt>
                <dd>
                    <span>{{ tMDBCredit.department }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.job">Job</span></dt>
                <dd>
                    <span>{{ tMDBCredit.job }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.order">Order</span></dt>
                <dd>
                    <span>{{ tMDBCredit.order }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.person">Person</span></dt>
                <dd>
                    <div *ngIf="tMDBCredit.personId">
                        <a [routerLink]="['/tmdb-person', tMDBCredit.personId, 'view']">{{ tMDBCredit.personName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBCredit.movie">Movie</span></dt>
                <dd>
                    <div *ngIf="tMDBCredit.movieId">
                        <a [routerLink]="['/tmdb-movie', tMDBCredit.movieId, 'view']">{{ tMDBCredit.movieTitle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tmdb-credit', tMDBCredit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
