<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesApp.tMDBMovie.home.title">TMDB Movies</span>

       
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesApp.tMDBMovie.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="tMDBMovies?.length === 0">
        <span jhiTranslate="mymoviesApp.tMDBMovie.home.notFound">No tMDBMovies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tMDBMovies && tMDBMovies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.forAdult">For Adult</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.originalLangage">Original Langage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.originalTitle">Original Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.overview">Overview</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.tagline">Tagline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesApp.tMDBMovie.releaseDate">Release Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tMDBMovie of tMDBMovies ;trackBy: trackId">
                    <td><a [routerLink]="['/tmdb-movie', tMDBMovie.id, 'view']">{{ tMDBMovie.id }}</a></td>
                    <td>{{ tMDBMovie.tmdbId }}</td>
                    <td>{{ tMDBMovie.title }}</td>
                    <td>{{ tMDBMovie.adult }}</td>
                    <td>{{ tMDBMovie.homepage }}</td>
                    <td>{{ tMDBMovie.original_language }}</td>
                    <td>{{ tMDBMovie.originalTitle }}</td>
                    <td>{{ tMDBMovie.overview }}</td>
                    <td>{{ tMDBMovie.tagline }}</td>
                    <td jhiTranslate="{{ 'mymoviesApp.TMDBMovieStatus.' + tMDBMovie.status }}">{{ tMDBMovie.status }}</td>
                    <td>{{ tMDBMovie.voteAverage }}</td>
                    <td>{{ tMDBMovie.voteCount }}</td>
                    <td>{{ tMDBMovie.releaseDate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tmdb-movie', tMDBMovie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tmdb-movie', tMDBMovie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
