<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tMDBMovie">
            <h2><span jhiTranslate="mymoviesApp.tMDBMovie.detail.title">TMDB Movie</span> {{ tMDBMovie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.tmdbId" [ngbTooltip]="'mymoviesApp.tMDBMovie.help.tmdbId' | translate">Tmdb Id</span></dt>
                <dd>
                    <span>{{ tMDBMovie.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.title">Title</span></dt>
                <dd>
                    <span>{{ tMDBMovie.title }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.forAdult">For Adult</span></dt>
                <dd>
                    <span>{{ tMDBMovie.forAdult }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.homepage">Homepage</span></dt>
                <dd>
                    <span>{{ tMDBMovie.homepage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.originalLangage">Original Langage</span></dt>
                <dd>
                    <span>{{ tMDBMovie.originalLangage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.originalTitle">Original Title</span></dt>
                <dd>
                    <span>{{ tMDBMovie.originalTitle }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.overview">Overview</span></dt>
                <dd>
                    <span>{{ tMDBMovie.overview }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.tagline">Tagline</span></dt>
                <dd>
                    <span>{{ tMDBMovie.tagline }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mymoviesApp.TMDBMovieStatus.' + tMDBMovie.status }}">{{ tMDBMovie.status }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.voteAverage">Vote Average</span></dt>
                <dd>
                    <span>{{ tMDBMovie.voteAverage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.voteCount">Vote Count</span></dt>
                <dd>
                    <span>{{ tMDBMovie.voteCount }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.releaseDate">Release Date</span></dt>
                <dd>
                    <span>{{ tMDBMovie.releaseDate }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesApp.tMDBMovie.genre">Genre</span></dt>
                <dd>
                    <span *ngFor="let genre of tMDBMovie.genres; let last = last">
                        <a [routerLink]="['/tmdb-genre', genre?.id, 'view']">{{ genre.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tmdb-movie', tMDBMovie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
