<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesApp.myMovie.home.title">My Movies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-movie" [routerLink]="['/my-movie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mymoviesApp.myMovie.home.createLabel">
            Create a new My Movie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesApp.myMovie.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="myMovies?.length === 0">
        <span jhiTranslate="mymoviesApp.myMovie.home.notFound">No myMovies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="myMovies && myMovies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comments"><span jhiTranslate="mymoviesApp.myMovie.comments">Comments</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vote"><span jhiTranslate="mymoviesApp.myMovie.vote">Vote</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="viewedDate"><span jhiTranslate="mymoviesApp.myMovie.viewedDate">Viewed Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="movieTitle"><span jhiTranslate="mymoviesApp.myMovie.movie">Movie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="mymoviesApp.myMovie.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let myMovie of myMovies ;trackBy: trackId">
                    <td><a [routerLink]="['/my-movie', myMovie.id, 'view']">{{ myMovie.id }}</a></td>
                    <td>{{ myMovie.comments }}</td>
                    <td>{{ myMovie.vote }}</td>
                    <td>{{ myMovie.viewedDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="myMovie.movieId">
                            <a [routerLink]="['/tmdb-movie', myMovie.movieId , 'view']" >{{ myMovie.movieTitle }}</a>
                        </div>
                    </td>
                    <td>
                        {{ myMovie.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/my-movie', myMovie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/my-movie', myMovie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(myMovie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
