<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesApp.tMDBMovie.home.title">TMDB Movies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tmdb-movie" [routerLink]="['/tmdb-movie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mymoviesApp.tMDBMovie.home.createLabel">
            Create a new TMDB Movie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesApp.tMDBMovie.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="tMDBMovies?.length === 0">
        <span jhiTranslate="mymoviesApp.tMDBMovie.home.notFound">No tMDBMovies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tMDBMovies && tMDBMovies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mymoviesApp.tMDBMovie.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="mymoviesApp.tMDBMovie.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="forAdult"><span jhiTranslate="mymoviesApp.tMDBMovie.forAdult">For Adult</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="homepage"><span jhiTranslate="mymoviesApp.tMDBMovie.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="originalLangage"><span jhiTranslate="mymoviesApp.tMDBMovie.originalLangage">Original Langage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="originalTitle"><span jhiTranslate="mymoviesApp.tMDBMovie.originalTitle">Original Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="overview"><span jhiTranslate="mymoviesApp.tMDBMovie.overview">Overview</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tagline"><span jhiTranslate="mymoviesApp.tMDBMovie.tagline">Tagline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mymoviesApp.tMDBMovie.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voteAverage"><span jhiTranslate="mymoviesApp.tMDBMovie.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voteCount"><span jhiTranslate="mymoviesApp.tMDBMovie.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="releaseDate"><span jhiTranslate="mymoviesApp.tMDBMovie.releaseDate">Release Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tMDBMovie of tMDBMovies ;trackBy: trackId">
                    <td><a [routerLink]="['/tmdb-movie', tMDBMovie.id, 'view']">{{ tMDBMovie.id }}</a></td>
                    <td>{{ tMDBMovie.tmdbId }}</td>
                    <td>{{ tMDBMovie.title }}</td>
                    <td>{{ tMDBMovie.forAdult }}</td>
                    <td>{{ tMDBMovie.homepage }}</td>
                    <td>{{ tMDBMovie.originalLangage }}</td>
                    <td>{{ tMDBMovie.originalTitle }}</td>
                    <td>{{ tMDBMovie.overview }}</td>
                    <td>{{ tMDBMovie.tagline }}</td>
                    <td jhiTranslate="{{ 'mymoviesApp.TMDBMovieStatus.' + tMDBMovie.status }}">{{ tMDBMovie.status }}</td>
                    <td>{{ tMDBMovie.voteAverage }}</td>
                    <td>{{ tMDBMovie.voteCount }}</td>
                    <td>{{ tMDBMovie.releaseDate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tmdb-movie', tMDBMovie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tmdb-movie', tMDBMovie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tMDBMovie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
